.button {
    border: none;
    padding: 20px;
    text-align: center;
    text-wrap: balance;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border-radius: 12px;
    font-size: 1em;
    margin: 20px 10px;
    max-width: 100%;
}

@media only screen and (max-width: 500px) {
    .button {
        padding: 5px;
        font-size: .75em;
        margin: 20px 10px;
        max-width: 100%;
    }
}

#bodyText {
    text-wrap: balance;
    text-align: center;
}

#twoButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.learnMore {
    color: #000;
    background-color: #FFE699;
}

.getStarted {
    color: #FFF;
    background-color: #336600;
}

.learnMore:hover {
    color: #FFE699;
    background-color: #000;
}

.getStarted:hover {
    color: #336600;
    background-color: #FFF;
}