#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #D9F0F1;
}

#A2CLogo {
    max-width: 100%;
    height: auto;
    max-height: 150px;
}

#nav {
    justify-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#navheader {
    margin-left: 15%;
    margin-right: 15%;
}

#menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.menuRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1%;
    width: 80%;
}

.menuRowButton {
    border: 1px solid black;
    margin-right: 2%;
    margin-left: 1%;
    width: 200px;
    height: 100px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
}

#selectionDisplay {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

#healthcareExchangePrompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#healthcareExchangeMenuButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.healthcareMenuButton {
    border: 1px solid black;
    padding: 16px 16px;
    color: black;
    background-color: white;
    text-align: center;
    display: inline-block;
}

#arrow { 
    text-align: center;
    width: 150px;
    height: 150px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background-color: #000;
    color: white;
}

#arrowText {
    margin-top: 65px;
}

.menuRowSelection {
    border: 1px solid black;
    margin-right: 2%;
    margin-left: 1%;
    width: 200px;
    height: 100px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}

#healthcareExchangeBtn {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}

#behavioralBtn {
    color: #000;
    background-color: #F0E0F0;
    border: 1px solid #562C56;
}

#workCompBtn {
    color: #000;
    background-color: #E8F2CA;
    border: 1px solid #475715;
}

#intInsuranceBtn {
    color: #000;
    background-color: #D2A2D2;
    border: 1px solid #562C56;
}

#medManagedBtn {
    color: #000;
    background-color: #85DFFF;
    border: 1px solid #004D68;
}

#milInsuranceBtn {
    color: #000;
    background-color: #D4E79D;
    border: 1px solid #475715;
}

#medicaidBtn {
    color: #000;
    background-color: #00AEEF;
    border: 1px solid #004D68;
}

#medAdvantageBtn {
    background-color: #FBC8AB;
    color: #000;
    border: 1px solid #6E2B06;
}

#medicareBtn {
    background-color: #F36D21;
    color: #000;
    border: 1px solid #6E2B06;
}

#noInsuranceBtn {
    color: #000;
    background-color: #EAEAEA;
    border: 1px solid #000;
}

#comInsuranceBtn {
    background-color: #ABD037;
    color: #000;
    border: 1px solid #475715;
}

#healthcareExchangeMenuButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.healthcareMenuBTN {
    width: 20%;
}

#greenBtn {
    background-color: lightgreen;
    color: darkgreen;
    border: 1px solid darkgreen;
    margin-right: 1%;
}

#redBtn {
    background-color: red;
    color: white;
    border: 1px solid darkred;
    margin-left: 1%;
}

@media only screen and (max-width: 600px) {
    .menuRowButton {
        border: 1px solid black;
        margin-right: 2%;
        margin-left: 1%;
        width: 120px;
        height: 60px;
        color: black;
        background-color: white;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        overflow: hidden;
    }

    .menuRow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 3%;
        width: 80%;
    }

    #arrow { 
        text-align: center;
        width: 75px;
        height: 75px;
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
        background-color: #000;
        color: white;
    }
    
    #arrowText {
        margin-top: 16px;
    }

    .menuRowSelection {
        border: 1px solid black;
        margin-right: 2%;
        margin-left: 1%;
        width: 120px;
        height: 60px;
        color: black;
        background-color: white;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        overflow: hidden;
        justify-self: center;
        align-self: center;
    }
}