#numberOfProvidersText {
    background-color: blue;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

#filteredProvidersNumber {
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: bold;
    background-color: white;
    color: black;
}

#wouldYouLikeToReviewText {
    color: black;
    font-size: 1rem;
    text-align: center;
}

