#filterAreaWindow {
    border: 2px solid #000;
    background-color: #fff2cc;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
    width: 400px;
    height: 400px;
    justify-self: center;
    align-self: center;
}

.areaBtn {
    position: absolute;
    border-radius: 50%;
    word-wrap: normal;
    width: 25%;
    height: 15%;
    font-size: 1.25rem;
}

#filterAreaText {
    font-size: 1.25rem;
    padding-left: 1%;
}

#mapBtnSelectedMsg {
    font-size: 1.25rem;
    padding-left: 1%;
    color: red;
    bottom: -3%;
    left: 33%;
    position: absolute;

}

#areaBtnNone {
    left: 1%;
    top: 15%;
    background-color: #ffff00;
    color: #000;
    border-radius: 50%;
    word-wrap: normal;

}

#areaBtnKeyWest {
    left: 1%;
    top: 50%;
    background-color: #ecafa4;
    color: #c10606;
    
}

.areaBtn:focus {
    border: 3px solid red;
}

#areaBtnMarathon {
    left: 20%;
    top: 37%;
    background-color: #b2cda4;
    color: #137011;
}

#areaBtnTavernier {
    left: 44%;
    top: 23%;
    background-color: #bcbfc2;
    color: #283e68;
}

#areaBtnKeyLargo {
    left: 65%;
    top: 10%;
    background-color: #d0d287;
    color: #283e68;
}

.areaBtnImg {
    width: 33%;
    height: 33%;
    position: absolute;
}

#areaBtnLowerKeys {
    left: 1%;
    top: 65%;
    transform: rotate(-15deg);
}

#areaBtnMiddleKeys {
    left: 35%;
    top: 55%;
    transform: rotate(-30deg);
}

#areaBtnUpperKeys {
    left: 65%;
    top: 35%;
    transform: rotate(-50deg);
}

#areaSelect {
    position: absolute;
    left: 83%;
    bottom: 1%;
}

@media only screen and (max-width: 999px) and (min-width: 300px) {
    #filterAreaWindow {
        border: 2px solid #000;
        background-color: #fff2cc;
        padding-top: 1%;
        padding-bottom: 1%;
        position: relative;
        width: 300px;
        height: 400px;
        justify-self: center;
        align-self: center;
        margin-bottom: 5%;
    }

    #mapBtnSelectedMsg {
        font-size: .9rem;
        padding-left: 1%;
        color: red;
        bottom: -3%;
        left: 33%;
        position: absolute;
    
    }

    #areaSelect {
        position: absolute;
        left: 78%;
        bottom: 1%;
    }

    #areaBtnUpperKeys {
        left: 63%;
        top: 35%;
        transform: rotate(-51deg);
    }

    .areaBtn {
        position: absolute;
        border-radius: 50%;
        word-wrap: normal;
        width: 34%;
        height: 15%;
        font-size: 1.25rem;
    }

    .areaBtnImg {
        max-height: 116px;
        max-width: 209px;
        position: absolute;
    }
}