#filterSpecialtyWindow {
    border: 2px solid #000;
    background-color: #fff2cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.filterSpecialtyText {
    color: #000;
    font-size: 1em;
    text-align: left;
}

.filterSpecialtyBtn {
    background-color: #fff2cc;
    border: 2px solid #000;
    align-self: left;
    padding: 0.5em;
    appearance: none;
}

.filterSpecialtyBtn:checked {
    background-color: #000;
    border: 2px solid #000;
    align-self: left;
    padding: 0.5em;
    appearance: none;
}

.filterSelectButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.filterSelectBtn {
    background-color: #008000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 25px;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: 25px;
    text-align: center;
}


