@media only screen and (max-width: 500px) {
    .button {
        padding: 5px;
        font-size: .75em;
        margin: 20px 10px;
        max-width: 100%;
    }
}

#gs-centered {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

#gs-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gs-header img {
    max-width: 100%;
    height: auto;
}

#gs-header h1 {
    text-align: center;
    font-weight: bolder;
    text-wrap: balance;
    margin-left: 1%;
    margin-right: 1%;
}

#gs-buttons {
    display: grid;
    grid-template-columns: 1fr 10% 1fr;
    /*flex-direction: column;*/
    place-items: center;
    justify-items: center;
}

button {
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    overflow: clip;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    margin: 10px 20px;
    min-width: 0;
    max-width: 225px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
}

#comInsuranceBtn {
    background-color: #ABD037;
    color: #000;
    border: 1px solid #475715;
}

#comInsuranceBtn:hover {
    color: #ABD037;
    background-color: #000;
    border: 1px solid #475715;
}

#noInsuranceBtn {
    color: #000;
    background-color: #EAEAEA;
    border: 1px solid #000;
}

#noInsuranceBtn:hover {
    background-color: #000;
    color: #EAEAEA;
    border: 1px solid #000;
}

#medicareBtn {
    background-color: #F36D21;
    color: #000;
    border: 1px solid #6E2B06;
}

#medicareBtn:hover {
    color: #F36D21;
    background-color: #000;
    border: 1px solid #6E2B06;
}

#medAdvantageBtn {
    background-color: #FBC8AB;
    color: #000;
    border: 1px solid #6E2B06;
}

#medAdvantageBtn:hover {
    color: #FBC8AB;
    background-color: #000;
    border: 1px solid #6E2B06;
}

#medicaidBtn {
    color: #000;
    background-color: #00AEEF;
    border: 1px solid #004D68;
}

#medicaidBtn:hover {
    color: #00AEEF;
    background-color: #000;
    border: 1px solid #004D68;
}

#milInsuranceBtn {
    color: #000;
    background-color: #D4E79D;
    border: 1px solid #475715;
}

#milInsuranceBtn:hover {
    color: #D4E79D;
    background-color: #000;
    border: 1px solid #475715;
}

#medManagedBtn {
    color: #000;
    background-color: #85DFFF;
    border: 1px solid #004D68;
}

#medManagedBtn:hover {
    color: #85DFFF;
    background-color: #000;
    border: 1px solid #004D68;
}

#intInsuranceBtn {
    color: #000;
    background-color: #D2A2D2;
    border: 1px solid #562C56;
}

#intInsuranceBtn:hover {
    color: #D2A2D2;
    background-color: #000;
    border: 1px solid #562C56;
}

#workCompBtn {
    color: #000;
    background-color: #E8F2CA;
    border: 1px solid #475715;
}

#workCompBtn:hover {
    color: #E8F2CA;
    background-color: #000;
    border: 1px solid #475715;
}

#behavioralBtn {
    color: #000;
    background-color: #F0E0F0;
    border: 1px solid #562C56;
    justify-self: center;
    align-self: center;
}

#behavioralBtn:hover {
    color: #F0E0F0;
    background-color: #000;
    border: 1px solid #562C56;
    justify-self: center;
    align-self: center;
}

#healthcareBtn {
    color: #000;
    background-color: #FFF;
    border: 1px solid #000;
    justify-self: center;
    align-self: center;
}

#healthcareBtn:hover {
    color: #FFF;
    background-color: #000;
    border: 1px solid #FFF;
    justify-self: center;
    align-self: center;
}

#lastRow {
    display: grid;
    grid-template-columns: 1fr 10% 1fr;
    place-items: center;
    justify-items: center;
}

#gs-line-break hr {
    border: 2px solid #000;
}

#gs-options-box {
    border: 2px solid #000;
}