@media only screen and (max-width: 250px) {
    .mobileResize {
        font-size: .3em;
        max-width: 250px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .mobileResize {
        font-size: .6em;
        max-width: 400px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 799px) {
    .mobileResize {
        font-size: .9em;
        max-width: 799px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 800px) {
    .mobileResize {
        align-items: center;
        justify-content: center;
    }
}

.Welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}