#internationalInsuranceSelections {
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: auto;
    height: 80%;
    width: 100%;
    font-size: 1em;
    background-color: #D9F0F1;
    font-family: Arial, sans-serif;
}