/* 
* NEEDS:
* - top right corner IMG needs resized for mobile
*
*/

#backgroundWithModalOpen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

#assistantAndBubble {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 1001px) {
    #modalWindow {
        border-radius: 5px;
        background-color: white;
        border: 2px solid red;
        padding: 2rem;
        width: 30em;
        height: 32em;
        position: sticky;
        left: 5%;
        top: 30%;
    }

    #atcAssistant {
        width: 50%;
        height: 50%;
    }

    #textBubble {
        width: 65%;
        height: 65%;
    }

    #closeBtn {
        float: right;
        cursor: pointer;
    }
    
    #submitBtn {
        cursor: pointer;
    }
    
    #micAndTextBox {
        background-color: #fbe5d6;
        border: 2px dotted black;
    }
    
    .chatWindow {
        background-color: #fbe5d6;
        box-sizing: border-box;
        height: 50%;
        width: 99%;
        padding: 1%;
        border: none;
        outline: none;
        resize: none;
    }
    
    #startRecording {
        float: right;
        margin: 1%;
        cursor: pointer;
    }
    
    #stopRecording {
        float: right;
        cursor: pointer;
    }
    
    #chatGPTAnswer {
        background: #fbe5d6;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
    #modalWindow {
        border-radius: 5px;
        background-color: white;
        border: 2px solid red;
        padding: 2rem;
        width: 18em;
        height: 24em;
        position: sticky;
        left: 5%;
        top: 65%;
    }

    #atcAssistant {
        width: 60%;
        height: 60%;
    }

    #textBubble {
        width: 50%;
        height: 50%;
    }

    #closeBtn {
        float: right;
        cursor: pointer;
    }
    
    #submitBtn {
        cursor: pointer;
    }
    
    #micAndTextBox {
        background-color: #fbe5d6;
        border: 2px dotted black;
    }
    
    .chatWindow {
        background-color: #fbe5d6;
        box-sizing: border-box;
        height: 50%;
        width: 99%;
        padding: 1%;
        border: none;
        outline: none;
        resize: none;
    }
    
    #startRecording {
        float: right;
        margin: 1%;
        cursor: pointer;
    }
    
    #stopRecording {
        float: right;
        cursor: pointer;
    }
    
    #chatGPTAnswer {
        background: #fbe5d6;
    }
}

@media only screen and (max-width: 600px) and (min-width: 451px) {
    #modalWindow {
        border-radius: 5px;
        background-color: white;
        border: 2px solid red;
        padding: 2rem;
        width: 20em;
        height: 26em;
        position: sticky;
        left: 5%;
        top: 60%;
    }

    #atcAssistant {
        width: 30%;
        height: 30%;
    }

    #textBubble {
        width: 45%;
        height: 45%;
    }

    #closeBtn {
        float: right;
        cursor: pointer;
    }
    
    #submitBtn {
        cursor: pointer;
    }
    
    #micAndTextBox {
        background-color: #fbe5d6;
        border: 2px dotted black;
    }
    
    .chatWindow {
        background-color: #fbe5d6;
        box-sizing: border-box;
        height: 50%;
        width: 99%;
        padding: 1%;
        border: none;
        outline: none;
        resize: none;
    }
    
    #startRecording {
        float: right;
        margin: 1%;
        cursor: pointer;
    }
    
    #stopRecording {
        float: right;
        cursor: pointer;
    }
    
    #chatGPTAnswer {
        background: #fbe5d6;
    }
}

@media only screen and (max-width: 450px) and (min-width: 322px) {
    #modalWindow {
        border-radius: 5px;
        background-color: white;
        border: 2px solid red;
        padding: 2rem;
        width: 15em;
        height: 20em;
        position: sticky;
        left: 5%;
        top: 60%;
    }

    #atcAssistant {
        width: 30%;
        height: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #textBubble {
        width: 45%;
        height: 45%;
        padding-top: 10px;
    }

    #closeBtn {
        float: right;
        cursor: pointer;
    }
    
    #submitBtn {
        cursor: pointer;
    }
    
    #micAndTextBox {
        background-color: #fbe5d6;
        border: 2px dotted black;
    }
    
    .chatWindow {
        background-color: #fbe5d6;
        box-sizing: border-box;
        height: 50%;
        width: 99%;
        padding: 1%;
        border: none;
        outline: none;
        resize: none;
    }
    
    #startRecording {
        float: right;
        margin: 1%;
        cursor: pointer;
    }
    
    #stopRecording {
        float: right;
        cursor: pointer;
    }
    
    #chatGPTAnswer {
        background: #fbe5d6;
    }
}

@media only screen and (max-width: 321px) and (min-width: 281px) {
    #modalWindow {
        border-radius: 5px;
        background-color: white;
        border: 2px solid red;
        padding: 2rem;
        width: 10em;
        height: 32em;
        position: sticky;
        left: 5%;
        top: 50%;
    }

    #atcAssistant {
        width: 20%;
        height: 20%;
        padding-bottom: 10px;
    }

    #textBubble {
        width: 35%;
        height: 35%;
    }

    #closeBtn {
        float: right;
        cursor: pointer;
    }
    
    #submitBtn {
        cursor: pointer;
    }
    
    #micAndTextBox {
        background-color: #fbe5d6;
        border: 2px dotted black;
    }
    
    .chatWindow {
        background-color: #fbe5d6;
        box-sizing: border-box;
        height: 50%;
        width: 99%;
        padding: 1%;
        border: none;
        outline: none;
        resize: none;
    }
    
    #startRecording {
        float: right;
        margin: 1%;
        cursor: pointer;
    }
    
    #stopRecording {
        float: right;
        cursor: pointer;
    }
    
    #chatGPTAnswer {
        background: #fbe5d6;
    }
}

@media only screen and (max-width: 280px) {
    #modalWindow {
        border-radius: 5px;
        background-color: white;
        border: 2px solid red;
        padding: 2rem;
        width: 5em;
        height: 32em;
        position: sticky;
        left: 5%;
        top: 55%;
    }

    #atcAssistant {
        width: 10%;
        height: 10%;
    }

    #textBubble {
        width: 10%;
        height: 10%;
    }

    #closeBtn {
        float: right;
        cursor: pointer;
    }
    
    #submitBtn {
        cursor: pointer;
    }
    
    #micAndTextBox {
        background-color: #fbe5d6;
        border: 2px dotted black;
    }
    
    .chatWindow {
        background-color: #fbe5d6;
        box-sizing: border-box;
        height: 50%;
        width: 99%;
        padding: 1%;
        border: none;
        outline: none;
        resize: none;
    }
    
    #startRecording {
        float: right;
        margin: 1%;
        cursor: pointer;
    }
    
    #stopRecording {
        float: right;
        cursor: pointer;
    }
    
    #chatGPTAnswer {
        background: #fbe5d6;
    }
}

