.providerListingIndividual {
    display: flex;
    align-items: center;
    width: 75%;
    border: 1px solid black;
    flex-direction: column;
}

.individualListingHeader {
    text-align: center;
    justify-self: center;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    background-color: #85DFFF;
    border: 1px solid black;
}

.individualListingLocationTime {
    background-color: #E8F2CA;
    border: 1px solid black;
    font-size: 14px;
    display: flex;
    justify-self: flex-start;
    text-align: left;
    flex-direction: row;
    width: 100%;
}

.individualListingLocation {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: flex-start;
    width: 90%;
}

.individualListingAddress {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
}

.individualListingTime {
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1%;
}

.individualListingText {
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 0%;
    width: 100%;
}

.individualListingBold {
    font-weight: bolder;
    font-size: 14px;
}

.individualListingHours {
    font-size: 14px;
    margin-top: 8%;
    margin-left: 10%;
    text-align: left;
}

.individualListingLanguages {
    margin-top: 5%;
}