.providerListingIndividual {
    display: flex;
    align-items: center;
    width: 75%;
    border: 1px solid black;
    flex-direction: column;
    margin-bottom: 3%;
}

.individualListingHeader {
    text-align: center;
    justify-self: center;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    background-color: #85DFFF;
    border: 1px solid black;
}

.individualListingLocationTime {
    background-color: #E8F2CA;
    border: 1px solid black;
    font-size: 14px;
    display: flex;
    justify-self: flex-start;
    text-align: left;
    flex-direction: row;
    width: 100%;
}

.individualListingLocation {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: flex-start;
    width: 90%;
}

.individualListingAddress {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
}

.individualListingTime {
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1%;
}

.individualListingText {
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 0%;
    width: 100%;
}

.individualListingBold {
    font-weight: bolder;
    font-size: 14px;
}

.individualListingHours {
    font-size: 14px;
    margin-top: 8%;
    margin-left: 10%;
    text-align: left;
}

.individualListingLanguages {
    margin-top: 5%;
}

.individualListingProviderInfo {
    background-color: #FDF0AD;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#thumbnailLicenseAndPrimary {
    display: flex;
    flex-direction: column;
}

#thumbnailLicense {
    display: flex;
    flex-direction: row;
}

.individualListingProviderKeywords {
    width: 100%;
    text-align: left;
    background-color: #FDE2D3;
    border: 1px solid black;
}

#keywordText {
    margin-left: .5%;
    margin-top: .5%;
    margin-bottom: .5%;
}

.individualListingProviderActions {
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid black;
}

#license {
    margin-top: 2%;
}

.listingActionButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: none;
    margin-bottom: none;
    text-align: center;
}

#leftBtn {
    margin-left: 1%;
}

#rightBtn {
    margin-right: 1%;
}

.listingButtons {
    max-width: 75px;
    max-height: 75px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#primary {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

#primaryLabels {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 1%;
}

#primaryFields {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    text-align: left;
    
}