#submitFromRadioBTN {
    font-size: 2em;
    padding: 1%;
}

.radioButtonText {
    font-size: 1em;
}

#insuranceSelectForm {
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #000 #fff;
    max-height: 400px;
}