#submitFromRadioBTN {
    font-size: 2em;
    padding: 1%;
}

#coverBTNBlue {
    top: 0;
    width: 100%;
    position: sticky;
    background-color: #D9F0F1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.submitBTNInstructions {
    font-size: 1em;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.radioButtonText {
    font-size: 1em;
}

#insuranceSelectForm {
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #000 #fff;
    max-height: 300px;
}

@media screen and (max-width: 600px) {
    .submitBTNInstructions {
        font-size: .7em;
        font-weight: bold;
        margin-left: 1%;
        margin-right: 1%;
        text-align: center;
    }
}