#reviewSelectionScreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reviewSelectionLogo {
    max-width: 150px;
}

#reviewSelectionWhiteBanner {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.reviewSelectionText {
    font-size: 1.5rem;
}

#filterHealthCareScreen {
    justify-content: center;
    align-items: center;
}