#reviewSelectionScreen {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#reviewSelectionWhiteBanner {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.reviewSelectionText {
    font-size: 1.5rem;
}